@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What have you won? @ViewBag.FirstName @ViewBag.LastName won?</h1>
    <p>@ViewBag.responseCall</p>
</div>

